apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "retail-app.fullname" . }}-pvc
  namespace: {{ .Values.namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.persistence.size }}
  storageClassName: {{ .Values.persistence.storageClass }}
