apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: retail-app
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/NitinJohri25/Retail-Inventory-CapsuleProject
    targetRevision: master
    path: helm
    helm:
      valueFiles:
        - values-prod.yaml

  destination:
    server: https://kubernetes.default.svc
    namespace: retail

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
